<div class="row">

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 control">
        <i {{action 'turnUp' }} class="fa fa-plus fa-3x"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 temp" id="target">
        <figure>
          <h1>{{thermostat.targetTemp}}&deg;C</h1>
          <figcaption>
            Target Temp
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 control">
        <i {{action 'turnDown' }} class="fa fa-minus fa-3x"></i>
      </div>
    </div>
  </div>

  <div class="status col-md-6">
    <div class="row">
      <div class="col-md-12 temp">
        <figure>
          <h3>{{thermostat.currentTemp}}&deg;C</h3>
          <figcaption>
            Indoor Temp
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 temp">
        <figure>
          <h3>{{t-weather}}</h3>
          <figcaption>
            Outdoor Temp
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

</div>
